# SPDX-FileCopyrightText: Daniele Nicolodi <daniele@grinta.net>
# SPDX-License-Identifier: Apache-2.0 OR LGPL-2.1-or-later

dist/
.mesonpy-native-file.ini
subprojects/libcsiphash-1/
subprojects/libcstdaux-1/
