name: tests
on:
  - push
  - pull_request

jobs:
  tests:
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        python: ['3.7', '3.8', '3.9', '3.10']
        platform: ['macos-11', 'ubuntu-20.04', 'windows-2022']
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - run: python -m pip install build
      - run: python -m build
      - run: python -m pip install dist/*.whl
        shell: bash
      - run: python -m unittest test.py
      - run: python check.py
        env:
          PYTHONHASHSEED: 0
